html,
body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas {
    touch-action: none;
}